
@layer page {
	html {
		font-size: 10px;
		font-family: sans-serif;

		color: var(--color);
		background: var(--background);
	}

	totem-editor {
		position: absolute;
		inset: 0;
	}

	.about {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		> img {
			height: 15em;
		}

		> h1 {
			display: flex;
			align-items: baseline;
			font-size: 4em;
			font-weight: normal;
			gap: 0.2em;
		}

		> .details {
			margin-top: 1em;
			display: flex;
			font-size: 1.5em;
			gap: 0.5em;
		}

		> p {
			font-size: 1.5em;
		}
	}

	:not(:defined) {
		display: none;
	}
}

